.nav-bar,
.navbar-expand-lg {
  background-color: var(--color-grey);
  text-align: center;
  font-weight: bold;
  backdrop-filter: saturate(180%) blur(20px);
}

.nav-item:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}