.scrollbar {
    background: rgba(0, 0, 0, 0.3);
    width: 30rem;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    justify-content: center;
    bottom: 2rem;
    transform: translateX(calc((100vw - 25rem)/2));
    left: 0;
    right: 0;
    height: auto;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);

}

.scrollbar a {
    background: transparent;
    padding: 0.9rem;
    border-bottom: 50%;
    display: flex;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.1rem;
}

.scrollbar a:hover {
    background: rbga(0, 0, 0, 0.3);
}

.scrollbar a.active {
    background: #1f1f38;
    color: white;
}

@media screen and (max-width: 1040px) {
    .scrollbar {
        width: 25rem;
        border-radius: 1rem;
        gap: 0.4rem;
    }
    
    .scrollbar a {
        font-size: 0.625rem;
    }
}